# Archivos de registro de compilación
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glsdefs
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdf
*.thm
*.toc
tfg.pdf

# Archivos de metadatos y de salida intermedia
*.acn
*.acr
*.alg
*.glo
*.gls
*.ist

# Archivos temporales y backup
*.nav
*.snm
*.synctex.gz
*.vrb

# Archivos de vídeo
*.mp4
*.webm

# Archivos de edición y respaldo (por si usas editores que los generan)
*~
*.bak
*.backup

# Archivos de configuración de editores
.vscode/
.idea/

# Carpetas de compilación
_build/
ros2/**/build/
ros2/**/install/
ros2/**/log/

# Proyecto Python
ros2/Analysis/.venv/